
<!-- wyglada tak samo jak new -->
<!-- dlatego uzyjemy _form.erb -->
<% if @autor.errors.any? %>
  <ul>
    <% @autor.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
  </ul>
<% end %>
