<h1>List of all authors</h1>

<ul>
  <% @autors.each do |autor| %>
    <li>
      <!-- railsowa metoda pomocnicza, co wyswietlone, gdzie przeniesie -->
      <%= link_to "#{autor.name} #{autor.surname}", autor_path(id: autor.id)%>
      <!-- <%= "#{autor.name} #{autor.surname}" %> -->
    </li>
  <% end %>
</ul>
