@import url('https://fonts.googleapis.com/css?family=Gaegu|Montserrat|Quicksand');

body {
  padding-top: 1px;
  background-color: #fffcff;
  font-family: 'Quicksand';
}

a, label {
  font-size: 13px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.alert {
  width: 40%;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.home-header {
  color: #290066;
}

.new-author-p {
  font-size: 20px;
  color: #009640;
}

.navbar-custom {
  /* background-color: #ede7da80; */
  background-color: #ede7da4d;
  margin:10px 30px 50px 30px;
  border-radius: 25px;
}

/* .custom-toggler {
  border-color: black;
} */

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(157, 177, 190, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #b8374a82;
    margin-right: 5px;
    font-size: 20px;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #621d28;
    border-bottom: 2px solid red;
}

.navbar-logo {
  margin-right: 20px;
}

.container {
  width: 50%;
}

.autors {
  margin-bottom: 20px;
}

.new-autor {
  margin-top: 20px;
  text-align: center;
}

.new-post {
  text-align: center;
}

#autor_age {
  border: 2px dotted pink;
}

.btn-danger, .btn-primary, .btn-outline-success {
  font-size: 13px;
}

.row {
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
}

.table {
  height: 10px;
  line-height: 10px;
  white-space: nowrap;
}

.row:nth-child(even) {
  background-color: #E1EDED66;
}
.row:nth-child(odd) {
  background-color: #FFF;
}

.home-img {
  text-align: center;
  display: block;
}

.show-autor, .show-post {
  font: bold;
  color: rgb(239, 63, 74);
}

.info-autor, .info-post {
  padding: 30px;
}

.age-label, .content-label {
  color: #4a90e2;
  font-weight: bold;
}
.age-value, .content-value{
  color: black;
  font-size: 25px;
}

.date-label, .autor-label {
  color: #f9b121;
  font-weight: bold;
}

.autor-value {
  color: black;
  font-size: 16px;
}

.update-label, .dates-label, .update-label {
  color: #420d8d;
  font-weight: bold;
}

.update-value, .dates-values, .update-post, .date-value {
  color: black;
  font-size: 12px;
}

/* .form-control {
  width: 300px;
} */

.col-centered {
  float: none;
  margin: 0 auto;
}

.messages {
  font-size: 30px;
  color: red;
}
